scopus_api.env
semantic_scholar_api.env
api.text
src/cache/
src/logs/
src/database.sqlite
__pycache__/
*.pyc
.venv/
PDF/
out/
src/biblioflow.sqlite
biblioflow.sqlite
src/biblioflow.sqlite
VISUALIZATION_GUIDELINES.md